@import 'styles/base.scss';

.choice {
    width: 100%;

    padding: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $blue-90;
    border: $border-base;
    border-radius: 0.15rem;

    cursor: pointer;

    @include title-normal;

    transition: all 0.2s;
    &:hover:not(.choice__selected) {
        background-color: $blue-50;
        border-color: $blue-10;
        color: $blue-10;
    }
}

.choice__selected {
    background-color: $blue-20;
    border-color: $blue-70;
    color: $blue-70;
}
