@import 'styles/base.scss';

.game__infos {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0 2rem;
    @include body-big;
}
